<div class="row clearfix">
    <div class="col-md-4 column" style = "border: 4px so lid #DEC0C0;">
        <h3 style = "text-align:center;">
            2015
        </h3>
    </div>
    <div class="col-md-4 column" style = "border: 4px so lid #DEC0C0;">
        <h3 style = "text-align:center;">
            newly_dawn
        </h3>
    </div>
    <div class="col-md-4 column" style = "border: 4px so lid #DEC0C0;">
        <h3 style = "text-align:center;">
            版权所有
        </h3>
    </div>
</div>